body {
  background: #e6e6e6;
  font-family: "Nunito", sans-serif;
  color: #222;
}

* {
  -webkit-transition: all .65s ease;
  transition: all .65s ease;
  box-sizing: border-box;
}

.container {
  max-width: 75em;
  margin: 0 auto;
}

.header .container a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #ffffff;
}

.header {
  background: #666666;
  color: white;
  padding: 0.625em;
}
.header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.header .site-title, .header .site-tagline {
  font-weight: 400;
}
@media (max-width: 700px) {
  .header .site-title, .header .site-tagline {
    width: 100%;
    text-align: center;
  }
  .header .site-title {
    margin: 0;
  }
}

.profile-img {
  width: 25%;
}

.camp-img {
  width: 50%;
}

.site-title, h1, h2, h3 {
  font-family: "Righteous", sans-serif;
  font-size: 2.625em;
  color: #024654;
}

.rep, h3 {
  font-size: 2em;
  color: #ff0000;
}

.dem, h3 {
  font-size: 2em;
  color: #0040ff;
}

.site-title {
  color: white;
}

.site-tagline {
  font-size: 1.125em;
  font-style: italic;
}

.main-nav {
  background: #737373;
  color: white;
}
.main-nav a {
  color: #1A577F;
  text-decoration: none;
}
.main-nav ul, .main-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.main-nav ul a {
  padding: 0.9375em 2.1875em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
}
.main-nav ul a:hover, .main-nav ul a:focus {
  background: #ffffff;
  color: #419cd8;
}
.main-nav ul .mobile-button a {
  position: absolute;
  left: -99999em;
}
@media (max-width: 700px) {
  .main-nav ul {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main-nav ul a {
    position: absolute;
    left: -99999em;
  }
  .main-nav ul.open li {
    width: 100%;
  }
  .main-nav ul.open li.mobile-button a {
    background: #ffffff;
    color: #0e3447;
  }
  .main-nav ul.open a {
    position: static;
  }
  .main-nav ul .mobile-button a {
    position: static;
  }
  .main-nav a {
    width: 100%;
  }
}

.full-bleed {
  background-size: cover;
  min-height: 300px;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 700px) {
  .full-bleed {
    min-height: 175px;
  }
}
.main-photo {
  background-image: url(http://newshour-tc.pbs.org/newshour/wp-content/uploads/2015/10/RTX1TJC3-1024x683.jpg);
}

.rep-photo {
  background-image: url(http://s3-origin-images.politico.com/2015/08/07/150807_gop_debate_gty_1160.jpg);
}
.dem-photo {
  background-image: url(http://i2.cdn.turner.com/cnnnext/dam/assets/151013211036-democratic-debate-group-shot-exlarge-169.jpeg);
}
.post {
  padding: 1.875em;
}

.columns {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.columns .item {
  padding: 1.5625em;
  max-width: 47%;
  background: #ffffff;
  color: #1A577F;
  border-bottom: 5px solid #F7EE1A;
  margin-bottom: 2.1875em;
  position: relative;
  overflow: hidden;
}

.columns .demitem, .columns .repitem {
  padding: 1.5625em;
  max-width: 47%;
  background: #ffffff;
  color: #1A577F;
  border-bottom: 5px solid #000000;
  margin-bottom: 2.1875em;
  position: relative;
  overflow: hidden;
}

.columns .item .item-title {
  color: #011d23;
  font-size: 24px;
  margin: 0 0 5px 0;
  font-family: "Righteous", sans-serif;
}
.columns .item .item-image {
  max-width: 100%;
}
.columns .demitem:hover, .columns .demitem:focus {
  background: #c0e1f1;
  border-bottom-color: #0040ff;
}

.columns .repitem:hover, .columns .repitem:focus {
  background: #ffcccf;
  border-bottom-color: #ff0000;
}
.columns .item:hover .social, .columns .item:focus .social {
  position: absolute;
  bottom: -21px;
  height: auto;
  z-index: 5;
  padding: 10px 0;
}
.columns .demitem:hover .social .fa, .columns .demitem:focus .social .fa {
  color: #0040ff;
  padding: 0 0.3125em;
}
.columns .repitem:hover .social .fa, .columns .repitem:focus .social .fa {
  color: #ff0000;
  padding: 0 0.3125em;
}
.columns .item:hover .social .fa:hover, .columns .item:focus .social .fa:hover {
  color: #769ab2;
}
@media (max-width: 660px) {
  .columns .item {
    max-width: 100%;
    width: 100%;
  }
}
.columns.thirds .item {
  max-width: 31%;
}
@media (max-width: 770px) {
  .columns.thirds .item {
    max-width: 48%;
  }
}
@media (max-width: 770px) and (max-width: 660px) {
  .columns.thirds .item {
    max-width: 100%;
    width: 100%;
  }
}

.columns .social {
  position: absolute;
  bottom: -60px;
  height: 0;
  z-index: -1;
  font-size: 1.75em;
}

.footer {
  background: #666666;
  color: white;
  padding: 0.9375em;
  text-align: center;
  font-size: 0.8125em;
}
.footer a {
  color: #419cd8;
  text-decoration: none;
  border-bottom: 1px solid;
}
