<!DOCTYPE html>
<html ng-app="VoteRight">

<head>
  <meta charset="UTF-8">
  <title>Vote Right - Your Vote Counts</title>
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#ff0000">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700|Righteous' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>

<body ng-controller="LoadRSS">
  <header class="header">
    <div class="container">
      <h1 class="site-title"><a href="http://www.VoteRight.co">Vote Right</a></h1>
      <span class="site-tagline">Your vote counts!</span>
    </div>
  </header>
  <nav class="main-nav">
    <div class="container">
      <ul>
        <li class="mobile-button"><a href="#">Menu</a></li>
        <li><a href="http://www.VoteRight.co/Candidates/">Candidates</a></li>
        <li><a href="http://www.VoteRight.co/Resources/">Resources</a></li>
        <li><a href="http://www.VoteRight.co/Contact/">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" style="background:#ffffff;">
    <div class="row-fluid">
      <div class="col-md-8">

        <div>
          <h1>Ted Cruz</h1>
          <img src="../../assets/Republican/Cruz/profile_2.jpg" class="profile-img img-rounded">
          <p align="left" class="profile"><b>Main Website:</b> <a href="https://www.tedcruz.org/" target="_blank" style="color: #0040ff">tedcruz.org</a></p>
          <p align="left" class="profile"><b>Political Office Website:</b> <a href="http://www.cruz.senate.gov/" target="_blank" style="color: #0040ff">cruz.senate.gov</a></p>
          <p align="left" class="profile"><b>Facebook Page:</b> <a href="https://www.facebook.com/tedcruzpage" target="_blank" style="color: #0040ff">tedcruzpage</a></p>
          <p align="left" class="profile"><b>Main Issues:</b></p>
          <ul align="left" class="bullets">
            <li>Restore the Constitution</li>
            <li>Second Amendment Rights</li>
            <li>Secure the Border</li>
          </ul>
          <p align="left" class="profile"><i>Ted Cruz first rose to elective office in 2013 and holds an elected position to this day.
		Cruz has served as an elected official for a total of 2 years and counting, which is 13 less than the average 2016 presidential candidate.</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <img src="../../assets/Republican/Cruz/logo.png" align="right" class="camp-img" style="padding-top: 10%;" />
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="full-bleed" style="background-image: url(../../assets/Republican/Cruz/banner.jpg);"></div>
  <!-- <hr> -->
  <!-- Newsfeed and Info Tabs -->
  <section class="wrapper">
    <ul class="tabs r">
      <li class="active">Issues</li>
      <li>Newsfeed</li>
    </ul>

    <ul class="tab__content r">
      <li class="active">
        <section class="content">
          <article class="post">
            <div class="button-container">
              <a class="btn" data-popup-open="abortion-popup" href="#">
                <div class='button -border -r center'>Abortion</div>
              </a>
              <div class="popup" data-popup="abortion-popup">
                <div class="popup-inner">
                  <h2>Abortion</h2>
                  <p>"Life is a gift from God. It is our most basic right. Without life, there is no liberty. I have fought to protect the sanctity of life, including winning cases at the Supreme Court to restrict abortions. If I am elected president, I
                    will instruct my Attorney General to investigate Planned Parenthood on day one and I will defend the dignity of life." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="abortion-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="immigration-popup" href="#">
                <div class='button -border -r center'>Immigration</div>
              </a>
              <div class="popup" data-popup="immigration-popup">
                <div class="popup-inner">
                  <h2>Immigration</h2>
                  <p>"As President, I will stop illegal immigration, build a wall that works, triple border security, and put in place the surveillance and biometric tracking to secure the border. Border security is national security. We need to stop Obama’s
                    amnesty and enforce the rule of law. And we need to reform legal immigration to protect American workers." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="immigration-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="guns-popup" href="#">
                <div class='button -border -r center'>Guns</div>
              </a>
              <div class="popup" data-popup="guns-popup">
                <div class="popup-inner">
                  <h2>Guns</h2>
                  <p>"The right to self-defense is an essential component of the liberty we enjoy as Americans and is embodied in the Second Amendment. From successfully protecting law-abiding citizens’ Second Amendment rights at the Supreme Court, to defeating
                    legislation that sought to take away this right, I have always championed the right to keep and bear arms." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="guns-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="foreign-policy-popup" href="#">
                <div class='button -border -r center'>Foreign Policy</div>
              </a>
              <div class="popup" data-popup="foreign-policy-popup">
                <div class="popup-inner">
                  <h2>Foreign Policy</h2>
                  <p>"As Commander-in-Chief, I would adopt a foreign policy strategy that follows three principles; Restore leadership on the global stage, rather than withdrawing from it; Fiercely defend our allies and interests; Judge each challenge through
                    the simple test of what is best for America, because what is best for America is best for the world." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="foreign-policy-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="taxes-popup" href="#">
                <div class='button -border -r center'>Taxes</div>
              </a>
              <div class="popup" data-popup="taxes-popup">
                <div class="popup-inner">
                  <h2>Taxes</h2>
                  <p>"Under the Cruz Simple Flat Tax, the IRS will cease to exist as we know it, all income groups will see a double-digit increase in after-tax income, and it will create nearly 5 million new jobs. The current seven rates of personal income
                    tax will collapse into a single low rate of 10 percent. For a family of four, the first $36,000 will be tax-free." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="taxes-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="healthcare-popup" href="#">
                <div class='button -border -r center'>Health Care</div>
              </a>
              <div class="popup" data-popup="healthcare-popup">
                <div class="popup-inner">
                  <h2>Health Care</h2>
                  <p>"If I am elected President, I will repeal Obamacare and propose commonsense reform that makes health care personal, portable, and affordable. I will expand competition in the marketplace, empower consumers and patients to make healthcare
                    decisions with their doctors, and disempower the government from getting in between doctors and their patients." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="healthcare-popup" href="#">x</a>
                </div>
              </div>
            </div>
            <div class="button-container">
              <a class="btn" data-popup-open="economy-and-jobs-popup" href="#">
                <div class='button -border -r center'>Economy and Jobs</div>
              </a>
              <div class="popup" data-popup="economy-and-jobs-popup">
                <div class="popup-inner">
                  <h2>Economy and Jobs</h2>
                  <p>"Jobs, growth, and opportunity will reignite promise for millions of American families who are currently being crushed by the Obama economy. Under the Cruz Simple Flat Tax, all income groups will see a double-digit increase in after-tax
                    income and the current seven rates of personal income tax will collapse into a single low rate of 10 percent." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="economy-and-jobs-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="civil-liberties-popup" href="#">
                <div class='button -border -r center'>Civil Liberties</div>
              </a>
              <div class="popup" data-popup="civil-liberties-popup">
                <div class="popup-inner">
                  <h2>Civil Liberties</h2>
                  <p>"I have committed my career to defending citizens’ constitutional liberties. As president, I will champion the rights enshrined in the Constitution and protect the people from an encroaching government. I will limit the federal government
                    to the functions the Constitution enumerates and give power back to the people and the states." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="civil-liberties-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="crime-and-safety-popup" href="#">
                <div class='button -border -r center'>Crime and Safety</div>
              </a>
              <div class="popup" data-popup="crime-and-safety-popup">
                <div class="popup-inner">
                  <h2>Crime and Safety</h2>
                  <p>"I’m proud to stand with law enforcement, to stand with the police and firefighters and first responders. They are American heroes. And they need a President who doesn’t vilify them and who doesn’t seek to tear us apart along racial
                    lines and inflame racial divisions. Instead, we need a President who works to unify us behind shared American values." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="crime-and-safety-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="environment-popup" href="#">
                <div class='button -border -r center'>Environment</div>
              </a>
              <div class="popup" data-popup="environment-popup">
                <div class="popup-inner">
                  <h2>Environment</h2>
                  <p>"The federal government has imposed far too many regulations that stifle growth, and often protect special interests more than the environment. As president, I will end regulations such as the EPA’s Waters of the U.S. rule and foster
                    economic growth by restoring authority to the states. I will end the backlog of maintenance of our national parks." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="environment-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="education-popup" href="#">
                <div class='button -border -r center'>Education</div>
              </a>
              <div class="popup" data-popup="education-popup">
                <div class="popup-inner">
                  <h2>Education</h2>
                  <p>"Educational opportunity thrives on choice, local control, and ingenuity, all of which are squelched by the Department of Education (DoE). My Five for Freedom plan abolishes the DoE and ends federal overreach such as Common Core. We
                    need to return education to those who know our students best: parents, teachers, communities, and states." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="education-popup" href="#">x</a>
                </div>
              </div>
            </div>
            <div class="button-container">
              <a class="btn" data-popup-open="budget-and-spending-popup" href="#">
                <div class='button -border -r center'>Budget and Spending</div>
              </a>
              <div class="popup" data-popup="budget-and-spending-popup">
                <div class="popup-inner">
                  <h2>Budget and Spending</h2>
                  <p>"The government must stop spending beyond its means. As President, I will hold Congress accountable by enacting a Balanced Budget Amendment, and requiring that Congress approves any major, cost-inducing regulation. I have identified
                    five major agencies and 25 programs that I will eliminate to rein in the federal government and reduce waste." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="budget-and-spending-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="national-security-popup" href="#">
                <div class='button -border -r center'>National Security</div>
              </a>
              <div class="popup" data-popup="national-security-popup">
                <div class="popup-inner">
                  <h2>National Security</h2>
                  <p>"We need a Commander-in-Chief who will prioritize U.S. national security interests. That starts by calling the enemy - radical Islamic terrorism - by its name, defeating ISIS, rebuilding the military, and securing the border. Border
                    security is national security. And on day one, I will rip to shreds the catastrophic Iran deal." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="national-security-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="medicare-and-social-security-popup" href="#">
                <div class='button -border -r center'>Medicare and Social Security</div>
              </a>
              <div class="popup" data-popup="medicare-and-social-security-popup">
                <div class="popup-inner">
                  <h2>Medicare and Social Security</h2>
                  <p>"We need to preserve and strengthen Social Security. For seniors, Social Security and Medicare should stay the same. For younger workers, we should gradually increase the retirement age, change the rate of growth in benefits of so that
                    it matches inflation, and allow them to keep a portion of their tax payments in a personal account that they own." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="medicare-and-social-security-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="veterans-popup" href="#">
                <div class='button -border -r center'>Veterans</div>
              </a>
              <div class="popup" data-popup="veterans-popup">
                <div class="popup-inner">
                  <h2>Veterans</h2>
                  <p>"We owe our veterans the care we have promised them. Mismanagement in the VA is unacceptable. As a member of the Armed Services Committee, I co-sponsored legislation to make it easier to fire VA senior management for mismanagement and
                    performance failures. We should expand options for their health care so they have more choices and faster service." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="veterans-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="energy-popup" href="#">
                <div class='button -border -r center'>Energy</div>
              </a>
              <div class="popup" data-popup="energy-popup">
                <div class="popup-inner">
                  <h2>Energy</h2>
                  <p>"I will embrace an energy policy that utilizes the bountiful resources in this land - from oil to natural gas to ethanol - producing abundant and affordable gas and electricity resources. We are on the verge of an American energy renaissance,
                    and I will lift the regulations that are prohibiting exploration, the Keystone pipeline, and job creation." - Ted Cruz on Google</p>
                  <a class="popup-close r" data-popup-close="energy-popup" href="#">x</a>
                </div>
              </div>
            </div>

          </article>
        </section>
      </li>
      <li>
        <!-- Newsfeed -->
        <section class="content">
          <article class="post">
            <div class="container">
              <div class="columns thirds" ng-repeat="feed in feeds">
                <div class="item repitem" ng-repeat="item in feed.entries">
                  <h4><a href="{{item.link}}" target="_blank">{{item.title}}</a> </h4> (
                  <span>{{item.publishedDate}}</span>)
                  <p class="text-left">{{item.contentSnippet}}</p>
                  <br />
                </div>
              </div>
            </div>
          </article>
        </section>
        <!-- END Newsfeed -->
      </li>
    </ul>
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <p>Made by <a href="http://JayJones.io">JayJonesDevelopment.</a></p>
      </div>
    </footer>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../../js/index.js"></script>
    <script src="../../js/tedcruz.js"></script>
    <script src="../../js/candidate.js"></script>
    <script src="../../js/button.js"></script>




</body>

</html>
