<!DOCTYPE html>
<html ng-app="VoteRight">

<head>
  <meta charset="UTF-8">
  <title>Vote Right - Your Vote Counts</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700|Righteous' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#0040ff">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>

<body ng-controller="LoadRSS">
  <header class="header">
    <div class="container">
      <h1 class="site-title"><a href="http://www.VoteRight.co">Vote Right</a></h1>
      <span class="site-tagline">Your vote counts!</span>
    </div>
  </header>
  <nav class="main-nav">
    <div class="container">
      <ul>
        <li class="mobile-button"><a href="#">Menu</a></li>
        <li><a href="http://www.VoteRight.co/Candidates/">Candidates</a></li>
        <li><a href="http://www.VoteRight.co/Resources/">Resources</a></li>
        <li><a href="http://www.VoteRight.co/Contact/">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" style="background:#ffffff">
    <div class="row-fluid">
      <div class="col-md-8">

        <div>
          <h1>Hillary Clinton</h1>
          <img src="../../assets/Democratic/Clinton/profile.jpg" class="profile-img img-rounded">
          <p align="left" class="profile"><b>Main Website:</b> <a href="https://www.hillaryclinton.com" target="_blank" style="color: #0040ff">hillaryclinton.com</a></p>
          <p align="left" class="profile"><b>PAC Website:</b> <a href="http://prioritiesusaaction.org/" target="_blank" style="color: #0040ff">prioritiesusaaction.org</a></p>
          <p align="left" class="profile"><b>Facebook Page:</b> <a href="https://www.facebook.com/hillaryclinton" target="_blank" style="color: #0040ff">hillaryclinton</a></p>
          <p align="left" class="profile"><b>Main Issues:</b></p>
          <ul align="left" class="bullets">
            <li>Dismantle the School-to-Prison Pipeline</li>
            <li>End the Era of Mass Incarceration</li>
            <li>Protect Immigrants' Rights and Keep Families Together</li>
          </ul>
          <p align="left" class="profile"><i>Hillary Clinton first rose to elective office in 2001 and stepped down from an elected position in 2009.
            Clinton has served as an elected official for a total of 8 years, which is 7 less than the average 2016 presidential candidate.</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <img src="../../assets/Democratic/Clinton/logo.png" align="right" class="camp-img" style="padding-top: 5%;" />

          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="full-bleed" style="background-image: url(../../assets/Democratic/Clinton/banner.jpg);"></div>
  <!-- <hr> -->
  <!-- Newsfeed and Info Tabs -->
  <section class="wrapper">
    <ul class="tabs d">
      <li class="active">Issues</li>
      <li>Newsfeed</li>
    </ul>

    <ul class="tab__content d">
      <li class="active">
        <section class="content">
          <article class="post">
            <div class="button-container">
              <a class="btn" data-popup-open="abortion-popup" href="#">
                <div class='button -border -d center'>Abortion</div>
              </a>
              <div class="popup" data-popup="abortion-popup">
                <div class="popup-inner">
                  <h2>Abortion</h2>
                  <p>"Politicians have no business interfering with women's personal health decisions. I will oppose efforts to roll back women's access to reproductive health care, including Republican efforts to defund Planned Parenthood. As president,
                    I'll stand up for Planned Parenthood and women’s access to critical health services, including safe, legal abortion." - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="abortion-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="immigration-popup" href="#">
                <div class='button -border -d center'>Immigration</div>
              </a>
              <div class="popup" data-popup="immigration-popup">
                <div class="popup-inner">
                  <h2>Immigration</h2>
                  <p>"We need comprehensive immigration reform with a path to full and equal citizenship. If Congress won't act, I'll defend President Obama’s executive actions—and I'll go even further to keep families together. I'll end family detention,
                    close private immigrant detention centers, and help more eligible people become naturalized. " - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="immigration-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="guns-popup" href="#">
                <div class='button -border -d center'>Guns</div>
              </a>
              <div class="popup" data-popup="guns-popup">
                <div class="popup-inner">
                  <h2>Guns</h2>
                  <p>"More than 33,000 Americans are killed by guns each year. It’s time to act. As President, I'll take on the gun lobby and fight for commonsense reforms to keep guns away from terrorists, domestic abusers, and other violent criminals—including
                    comprehensive background checks and closing loopholes that allow guns to fall into the wrong hands. " - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="guns-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="foreign-policy-popup" href="#">
                <div class='button -border -d center'>Foreign Policy</div>
              </a>
              <div class="popup" data-popup="foreign-policy-popup">
                <div class="popup-inner">
                  <h2>Foreign Policy</h2>
                  <p>"As secretary of state, I worked to restore America’s leadership in the world. As president, defending our values and keeping us safe will be my top priority. That includes maintaining a cutting-edge military, strengthening our alliances,
                    cultivating new partners, standing up to aggressors, defeating ISIS, and enforcing the Iran nuclear agreement. " - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="foreign-policy-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="taxes-popup" href="#">
                <div class='button -border -d center'>Taxes</div>
              </a>
              <div class="popup" data-popup="taxes-popup">
                <div class="popup-inner">
                  <h2>Taxes</h2>
                  <p>"The wealthiest pay too little in taxes while the middle class needs more relief. I'm going to fix that. I’ll close corporate tax loopholes and make sure millionaires and billionaires can’t pay lower rates than middle-class families.
                    And I’ll give tax relief to working families who are struggling with costs from college to health care. " - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="taxes-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="healthcare-popup" href="#">
                <div class='button -border -d center'>Health Care</div>
              </a>
              <div class="popup" data-popup="healthcare-popup">
                <div class="popup-inner">
                  <h2>Health Care</h2>
                  <p>"I've fought for quality, affordable health care my entire career. As president, I'll defend the Affordable Care Act, build on its successes, and go even further to reduce costs. My plan will crack down on drug companies charging excessive
                    prices, slow the growth of out-of-pocket costs, and provide a new credit to those facing high health expenses. " - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="healthcare-popup" href="#">x</a>
                </div>
              </div>
            </div>
            <div class="button-container">
              <a class="btn" data-popup-open="economy-and-jobs-popup" href="#">
                <div class='button -border -d center'>Economy and Jobs</div>
              </a>
              <div class="popup" data-popup="economy-and-jobs-popup">
                <div class="popup-inner">
                  <h2>Economy and Jobs</h2>
                  <p>"We need to raise pay, create good-paying jobs, and build an economy that works for everyone—not just those at the top. I’ll cut taxes for the middle class, raise the minimum wage, and ensure the wealthiest pay their fair share. I’ll
                    invest in infrastructure and education. And I’ll help parents balance work and family." - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="economy-and-jobs-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="civil-liberties-popup" href="#">
                <div class='button -border -d center'>Civil Liberties</div>
              </a>
              <div class="popup" data-popup="civil-liberties-popup">
                <div class="popup-inner">
                  <h2>Civil Liberties</h2>
                  <p>"We have to protect Americans’ civil liberties. And we have to discover and disrupt terrorist plots before they can be carried out. That's why I support the bipartisan USA Freedom Act President Obama recently signed into law, which protects
                    privacy while giving our intelligence and law enforcement agencies what they need to can keep us safe." - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="civil-liberties-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="crime-and-safety-popup" href="#">
                <div class='button -border -d center'>Crime and Safety</div>
              </a>
              <div class="popup" data-popup="crime-and-safety-popup">
                <div class="popup-inner">
                  <h2>Crime and Safety</h2>
                  <p>"Everyone in America should respect the law and be respected by the law. We need to end mass incarceration, use strategies like police body cameras to improve accountability, increase substance abuse treatment, and aim resources at criminals
                    who pose the greatest threat. And we need to invest in education and job training—the foundations of success." - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="crime-and-safety-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="environment-popup" href="#">
                <div class='button -border -d center'>Environment</div>
              </a>
              <div class="popup" data-popup="environment-popup">
                <div class="popup-inner">
                  <h2>Environment</h2>
                  <p>"Climate change is real—no matter what climate deniers say. I've laid out bold national goals to address the threats it poses. As president, I’ll say no to drilling in the Arctic. I’ll stop the tax giveaways to big oil and gas companies.
                    And I’ll make significant investments in clean energy. Our children's health and future depend on it." - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="environment-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="education-popup" href="#">
                <div class='button -border -d center'>Education</div>
              </a>
              <div class="popup" data-popup="education-popup">
                <div class="popup-inner">
                  <h2>Education</h2>
                  <p>"As president, I'll work to ensure every child—from every ZIP code—has access to a world-class education, including access to high-quality preschool. We need to strike the right balance on testing—with fewer, fairer and better tests
                    for elementary and secondary school students. And we must support teachers with the training and resources they need." - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="education-popup" href="#">x</a>
                </div>
              </div>
            </div>
            <div class="button-container">
              <a class="btn" data-popup-open="budget-and-spending-popup" href="#">
                <div class='button -border -d center'>Budget and Spending</div>
              </a>
              <div class="popup" data-popup="budget-and-spending-popup">
                <div class="popup-inner">
                  <h2>Budget and Spending</h2>
                  <p>"Raising Americans' incomes will be my top priority. I'll rebuild our infrastructure, invest in clean energy and manufacturing, create millions of good-paying middle class jobs, and rein in college costs and out-of-pocket health expenses.
                    I'll pay for my proposals by closing corporate tax loopholes and asking the wealthiest to pay their fair share." - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="budget-and-spending-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="national-security-popup" href="#">
                <div class='button -border -d center'>National Security</div>
              </a>
              <div class="popup" data-popup="national-security-popup">
                <div class="popup-inner">
                  <h2>National Security</h2>
                  <p>"The most important job of the president is to keep Americans safe. That means standing up to aggressors around the world and defeating global terrorism by depriving ISIS of physical and virtual territory. I’ll dismantle the global terror
                    networks that supply terrorists and toughen our defenses at home—against both external and homegrown threats." - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="national-security-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="medicare-and-social-security-popup" href="#">
                <div class='button -border -d center'>Medicare and Social Security</div>
              </a>
              <div class="popup" data-popup="medicare-and-social-security-popup">
                <div class="popup-inner">
                  <h2>Medicare and Social Security</h2>
                  <p>"My plan will strengthen Medicare by reducing health care costs, enhance and protect Social Security for future generations by asking the wealthiest to contribute more, and expand benefits for widows and those who took time out of the
                    paid workforce to care for a child or sick family member. I'll fight attempts to privatize or weaken these programs." - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="medicare-and-social-security-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="veterans-popup" href="#">
                <div class='button -border -d center'>Veterans</div>
              </a>
              <div class="popup" data-popup="veterans-popup">
                <div class="popup-inner">
                  <h2>Veterans</h2>
                  <p>"Honoring veterans is a solemn duty. I'll reform the VA—not privatize it. I’ll ensure our veterans get quality health care without enduring long waits, increase education and job opportunities, and end the appeals backlog—because veterans
                    shouldn't have to fight for benefits. And I'll work to end crises many veterans face: homelessness and suicide." - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="veterans-popup" href="#">x</a>
                </div>
              </div>
              <a class="btn" data-popup-open="energy-popup" href="#">
                <div class='button -border -d center'>Energy</div>
              </a>
              <div class="popup" data-popup="energy-popup">
                <div class="popup-inner">
                  <h2>Energy</h2>
                  <p>"I've fought for quality, affordable health care my entire career. As president, I'll defend the Affordable Care Act, build on its successes, and go even further to reduce costs. My plan will crack down on drug companies charging excessive
                    prices, slow the growth of out-of-pocket costs, and provide a new credit to those facing high health expenses." - Hillary Rodham Clinton on Google</p>
                  <a class="popup-close d" data-popup-close="energy-popup" href="#">x</a>
                </div>
              </div>
            </div>
          </article>
        </section>
      </li>
      <li>
        <!-- Newsfeed -->
        <section class="content">
          <article class="post">
            <div class="container">
              <div class="columns thirds" ng-repeat="feed in feeds">
                <div class="item demitem" ng-repeat="item in feed.entries">
                  <h4><a href="{{item.link}}" target="_blank">{{item.title}}</a> </h4> (
                  <span>{{item.publishedDate}}</span>)
                  <p class="text-left">{{item.contentSnippet}}</p>
                  <br />
                </div>
              </div>
            </div>
          </article>
        </section>
        <!-- END Newsfeed -->
      </li>
    </ul>
    <!-- Footer -->
    <footer class="footer">
      <div class="container">
        <p>Made by <a href="http://JayJones.io">JayJonesDevelopment.</a></p>
      </div>
    </footer>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="../../js/index.js"></script>
    <script src="../../js/hillaryclinton.js"></script>
    <script src="../../js/candidate.js"></script>
    <script src="../../js/button.js"></script>


</body>

</html>
