<!DOCTYPE html>
<html ng-app="VoteRight">

<head>
  <meta charset="UTF-8">
  <title>Vote Right - Your Vote Counts</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700|Righteous' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#ff0000">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>

<body ng-controller="LoadRSS">
  <header class="header">
    <div class="container">
      <h1 class="site-title"><a href="http://www.VoteRight.co">Vote Right</a></h1>
      <span class="site-tagline">Your vote counts!</span>
    </div>
  </header>
  <nav class="main-nav">
    <div class="container">
      <ul>
        <li class="mobile-button"><a href="#">Menu</a></li>
        <li><a href="http://www.VoteRight.co/Candidates/">Candidates</a></li>
        <li><a href="http://www.VoteRight.co/Resources/">Resources</a></li>
        <li><a href="http://www.VoteRight.co/Contact/">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" style="background:#ffffff">
    <div class="row-fluid">
      <div class="col-md-8">

        <div>
          <h1>Ben Carson</h1>
          <img src="../../assets/Republican/Carson/profile.jpg" class="profile-img img-rounded">
          <p align="left" class="profile"><b>Main Website:</b> <a href="https://www.bencarson.com/" target="_blank" style="color: #0040ff">bencarson.com</a></p>
          <p align="left" class="profile"><b>Facebook Page:</b> <a href="https://www.facebook.com/realbencarson" target="_blank" style="color: #0040ff">realbencarson</a></p>
          <p align="left" class="profile"><b>Main Issues:</b></p>
          <ul align="left" class="bullets">
            <li>Defense and Foreign Policy</li>
            <li>Defeating the Islamic State</li>
            <li>Federal Spending</li>
          </ul>
          <p align="left" class="profile"><i>Ben Carson has never held elective office.</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <img src="../../assets/Republican/Carson/logo.png" align="right" class="camp-img" style="padding-top: 10%;" />
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="full-bleed" style="background-image: url(../../assets/Republican/Carson/banner.jpg);"></div>
  <!-- <hr> -->
  <!-- Newsfeed and Info Tabs -->
  <section class="wrapper">
    <ul class="tabs r">
      <li class="active">Issues</li>
      <li>Newsfeed</li>
    </ul>

    <ul class="tab__content r">
      <li class="active">
        <section class="content">
          <article class="post">
            <div class="button-container">
               <a class="btn" data-popup-open="abortion-popup" href="#"><div class='button -border -r center'>Abortion</div></a>
               <div class="popup" data-popup="abortion-popup">
                 <div class="popup-inner">
                    <h2>Abortion</h2>
                    <p>"As a former pediatric neurosurgeon, I have dedicated my life to saving and improving the lives of children. I oppose abortion and am committed to protecting innocent lives, especially when they are most vulnerable. The sanctity of life is something that I will continue to wholeheartedly promote and enforce." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="abortion-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="immigration-popup" href="#"><div class='button -border -r center'>Immigration</div></a>
               <div class="popup" data-popup="immigration-popup">
                 <div class="popup-inner">
                    <h2>Immigration</h2>
                    <p>"America’s immigration system is broken. Career politicians have ignored Americans who want the borders of our country secured and our immigration laws robustly enforced. As president, I will work to secure America’s borders, strictly enforce immigration laws, and bring illegal immigration out of the shadows." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="immigration-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="guns-popup" href="#"><div class='button -border -r center'>Guns</div></a>
               <div class="popup" data-popup="guns-popup">
                 <div class="popup-inner">
                    <h2>Guns</h2>
                    <p>"The Second Amendment is a cornerstone of our Constitution. Without the right to bear arms, Americans would be unable to stand against a tyrannical government or foreign invader. The right of Americans to own and maintain legal arms is paramount, and that right should in no way be violated." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="guns-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="foreign-policy-popup" href="#"><div class='button -border -r center'>Foreign Policy</div></a>
               <div class="popup" data-popup="foreign-policy-popup">
                 <div class="popup-inner">
                    <h2>Foreign Policy</h2>
                    <p>"As president, I will protect and defend America through strong, principled leadership. I will restore our role as the world’s preeminent global leader by defeating aggression, restoring our military, rebuilding alliances, improving intelligence capabilities, and continuing a strong tradition of humanitarian and disaster relief around the world." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="foreign-policy-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="taxes-popup" href="#"><div class='button -border -r center'>Taxes</div></a>
               <div class="popup" data-popup="taxes-popup">
                 <div class="popup-inner">
                    <h2>Taxes</h2>
                    <p>"With a 75,000-page tax code of loopholes and special interest exemptions, we must start fresh. Under my flat tax, everyone pays the same percentage of income with no deductions, loopholes or shelters. Corporations pay the same flat rate, and 100 percent of capital investments can be written off within a year--a powerful incentive for investment." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="taxes-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="healthcare-popup" href="#"><div class='button -border -r center'>Health Care</div></a>
               <div class="popup" data-popup="healthcare-popup">
                 <div class="popup-inner">
                    <h2>Health Care</h2>
                    <p>"I will repeal and replace Obamacare with Health Empowerment Accounts (HEAs) that give people--not government bureaucrats--control of their health care. With HEAs, Americans will have lower premiums, increased health care options, and access to high deductible catastrophic insurance to cover everyday health care and serious challenges." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="healthcare-popup" href="#">x</a>
                </div>
              </div>
            </div>
            <div class="button-container">
               <a class="btn" data-popup-open="economy-and-jobs-popup" href="#"><div class='button -border -r center'>Economy and Jobs</div></a>
               <div class="popup" data-popup="economy-and-jobs-popup">
                 <div class="popup-inner">
                    <h2>Economy and Jobs</h2>
                    <p>"In recent years, our economy has stagnated. I believe restoring free market policies, implementing a simpler, flat tax system, reducing the regulatory burden on businesses and lowering government debt will rapidly increase economic growth and jobs, allowing more people to achieve the American dream." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="economy-and-jobs-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="civil-liberties-popup" href="#"><div class='button -border -r center'>Civil Liberties</div></a>
               <div class="popup" data-popup="civil-liberties-popup">
                 <div class="popup-inner">
                    <h2>Civil Liberties</h2>
                    <p>"In this age of political correctness, it is particularly important to defend the Bill of Rights, which guarantees our freedom of speech, freedom of religion and the right to bear arms. I believe our Constitution protects everyone, and we must wholeheartedly reject intrusions upon our civil liberties by the federal government." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="civil-liberties-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="crime-and-safety-popup" href="#"><div class='button -border -r center'>Crime and Safety</div></a>
               <div class="popup" data-popup="crime-and-safety-popup">
                 <div class="popup-inner">
                    <h2>Crime and Safety</h2>
                    <p>"Growing up poor in Detroit, I experienced the tragic violence that plagues inner-city communities. To end this violence, we must re-emphasize the importance of education and work hard to stop the flow of illegal drugs into our neighborhoods. I also encourage open dialogue with our police, whom I admire, to continue to keep American families safe." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="crime-and-safety-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="environment-popup" href="#"><div class='button -border -r center'>Environment</div></a>
               <div class="popup" data-popup="environment-popup">
                 <div class="popup-inner">
                    <h2>Environment</h2>
                    <p>"As president, I will leave our environment in better shape than I found it, but not use climate change as an excuse not to develop natural resources. The EPA will work more like NASA to advance current technologies responsibly, rather than be an unrestrained police force." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="environment-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="education-popup" href="#"><div class='button -border -r center'>Education</div></a>
               <div class="popup" data-popup="education-popup">
                 <div class="popup-inner">
                    <h2>Education</h2>
                    <p>"Education is the ladder leading people out of poverty and making the American Dream possible. In recent years, federal authorities have increased their influence on our schools. I would reverse this trend by increasing school choice, overturning Common Core, and supporting more state and local control to prepare our children for the future." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="education-popup" href="#">x</a>
                </div>
              </div>
           </div>
           <div class="button-container">
               <a class="btn" data-popup-open="budget-and-spending-popup" href="#"><div class='button -border -r center'>Budget and Spending</div></a>
               <div class="popup" data-popup="budget-and-spending-popup">
                 <div class="popup-inner">
                    <h2>Budget and Spending</h2>
                    <p>"Our national debt stands at more than $18 trillion. Career politicians have demonstrated that they are not serious about cutting spending and balancing our budget. As president, I will work to reduce this debt immediately and urge ratification of a balanced budget amendment to restore federal fiscal responsibility." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="budget-and-spending-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="national-security-popup" href="#"><div class='button -border -r center'>National Security</div></a>
               <div class="popup" data-popup="national-security-popup">
                 <div class="popup-inner">
                    <h2>National Security</h2>
                    <p>"We must act boldly and decisively to protect American citizens from terrorists at home and abroad. We can no longer delay while ISIS continues to persecute Christians, enslave young girls, oppress civil societies and perpetrate terrorist attacks. We must secure our borders, identify radical Islamic extremism by name and root out terrorists." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="national-security-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="medicare-and-social-security-popup" href="#"><div class='button -border -r center'>Medicare and Social Security</div></a>
               <div class="popup" data-popup="medicare-and-social-security-popup">
                 <div class="popup-inner">
                    <h2>Medicare and Social Security</h2>
                    <p>"As president, I will prioritize common sense reforms for Medicare and Social Security to ensure solvency for the long term. I will also allow Medicare recipients to utilize Health Empowerment Accounts (HEAs) to give our seniors, rather than government bureaucrats, control over their health care decisions." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="medicare-and-social-security-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="veterans-popup" href="#"><div class='button -border -r center'>Veterans</div></a>
               <div class="popup" data-popup="veterans-popup">
                 <div class="popup-inner">
                    <h2>Veterans</h2>
                    <p>"As president, I will direct a fundamental transformation in how we care for and empower Veterans across America, including reforming the Veterans Administration (VA). With our current unprecedented level of American support for better Veterans health care, military transition, education and employment, we will make great strides together." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="veterans-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="energy-popup" href="#"><div class='button -border -r center'>Energy</div></a>
               <div class="popup" data-popup="energy-popup">
                 <div class="popup-inner">
                    <h2>Energy</h2>
                    <p>"America is blessed with enormous amounts of oil, coal and natural gas and the ability to extract those resources. We should pursue all energy sources for the future through free market principles--not by artificially altering the energy marketplace through heavy-handed government involvement." - Ben Carson on Google</p>
                    <a class="popup-close r" data-popup-close="energy-popup" href="#">x</a>
                </div>
              </div>
            </div>

          </article>
        </section>
      </li>
      <li>
        <!-- Newsfeed -->
<section class="content">
  <article class="post">
    <div class="container">
      <div class="columns thirds" ng-repeat="feed in feeds">
        <div class="item repitem" ng-repeat="item in feed.entries">
          <h4><a href="{{item.link}}" target="_blank">{{item.title}}</a> </h4>
          	(<span>{{item.publishedDate}}</span>)
          		<p class="text-left">{{item.contentSnippet}}</p>    <br />
        </div>
      </div>
    </div>
    </article>
    </section>
<!-- END Newsfeed -->
      </li>
    </ul>
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p>Made by <a href="http://JayJones.io">JayJonesDevelopment.</a></p>
    </div>
  </footer>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="../../js/index.js"></script>
  <script src="../../js/bencarson.js"></script>
  <script src="../../js/candidate.js"></script>
  <script src="../../js/button.js"></script>




</body>

</html>
