<!DOCTYPE html>
<html ng-app="VoteRight">

<head>
  <meta charset="UTF-8">
  <title>Vote Right - Your Vote Counts</title>
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#2d862d">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700|Righteous' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>

<body ng-controller="LoadRSS">
  <header class="header">
    <div class="container">
      <h1 class="site-title"><a href="http://www.VoteRight.co">Vote Right</a></h1>
      <span class="site-tagline">Your vote counts!</span>
    </div>
  </header>
  <nav class="main-nav">
    <div class="container">
      <ul>
        <li class="mobile-button"><a href="#">Menu</a></li>
        <li><a href="http://www.VoteRight.co/Candidates/">Candidates</a></li>
        <li><a href="http://www.VoteRight.co/Resources/">Resources</a></li>
        <li><a href="http://www.VoteRight.co/Contact/">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" style="background:#ffffff">
    <div class="row-fluid">
      <div class="col-md-8">

        <div>
          <h1>Gary Johnson</h1>
          <img src="../../assets/Independent/Johnson/profile.jpg" class="profile-img img-rounded">
          <p align="left" class="profile"><b>Main Website:</b> <a href="https://www.garyjohnson2016.com/" target="_blank" style="color: #0040ff">garyjohnson2016.com</a></p>
          <p align="left" class="profile"><b>Facebook Page:</b> <a href="https://www.facebook.com/govgaryjohnson" target="_blank" style="color: #0040ff">govgaryjohnson</a></p>
          <p align="left" class="profile"><b>Main Issues:</b></p>
          <ul align="left" class="bullets">
            <li>Government Spending</li>
            <li>Taxes</li>
            <li>Term Limits</li>
          </ul>
          <p align="left" class="profile"><i>Gary Johnson first rose to elective office in 1995 and stepped down from an elected position in 2003.
		Johnson has served as an elected official for a total of 8 years, which is 7 less than the average 2016 presidential candidate.</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <img src="../../assets/Independent/Johnson/logo.png" align="right" class="camp-img" style="padding-top: 5%;" />
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="full-bleed" style="background-image: url(../../assets/Independent/Johnson/banner.jpg);"></div>
  <!-- <hr> -->
   <!-- Newsfeed and Info Tabs -->
  <section class="wrapper">
    <ul class="tabs t">
      <li class="active">Issues</li>
      <li>Newsfeed</li>
    </ul>

    <ul class="tab__content t">
      <li class="active">
        <section class="content">
          <article class="post">
            <div class="button-container">
               <a class="btn" data-popup-open="abortion-popup" href="#"><div class='button -border -t center'>Abortion</div></a>
               <div class="popup" data-popup="abortion-popup">
                 <div class="popup-inner">
                    <h2>Abortion</h2>
                    <p>"It should be left up to the woman. If my daughter were pregnant and she came to me and asked me what she ought to do, I would advise her to have the child. But I would not for a minute pretend that I should make that decision for her or any other woman." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Abortion.htm" target="_blank">Playboy Magazine</a></p>
                    <a class="popup-close t" data-popup-close="abortion-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="immigration-popup" href="#"><div class='button -border -t center'>Immigration</div></a>
               <div class="popup" data-popup="immigration-popup">
                 <div class="popup-inner">
                    <h2>Immigration</h2>
                    <p>"My vision of the border with Mexico is that a truck from the United States going into Mexico and a truck coming from Mexico into the United States will pass each other at the border going 60 miles an hour. Yes, we should have open borders." - Gary Johnson on <a href="https://www.washingtonpost.com/news/post-politics/wp/2016/02/04/in-new-hampshire-trumps-pitch-is-urgent-and-his-schedule-packed/" target="_blank">Playboy Magazine</a></p>
                    <a class="popup-close t" data-popup-close="immigration-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="guns-popup" href="#"><div class='button -border -t center'>Guns</div></a>
               <div class="popup" data-popup="guns-popup">
                 <div class="popup-inner">
                    <h2>Guns</h2>
                    <p>"I'm one of those who believe the bumper sticker: If you outlaw guns, only outlaws will have guns. The first people who are going to be in line to turn in their guns are law-abiding citizens. Criminals are going to be left with guns. I believe that concealed carry is a way of reducing gun violence." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Gun_Control.htm" target="_blank">Playboy Magazine</a></p>
                    <a class="popup-close t" data-popup-close="guns-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="foreign-policy-popup" href="#"><div class='button -border -t center'>Foreign Policy</div></a>
               <div class="popup" data-popup="foreign-policy-popup">
                 <div class="popup-inner">
                    <h2>Foreign Policy</h2>
                    <p>"Maintaining a strong national defense is the most basic of the federal government's responsibilities. However, building schools, roads, and hospitals in other countries are not among those basic obligations. Yet that is exactly what we have been doing for much of the past 10 years. Given trillion-dollar deficits, America simply cannot afford to be engaged in foreign policy programs that are not clearly protecting U.S. interests. There is nation-building and rebuilding to be done right here at home." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Foreign_Policy.htm" target="_blank">Presidential Campaign Website</a></p>
                    <a class="popup-close t" data-popup-close="foreign-policy-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="taxes-popup" href="#"><div class='button -border -t center'>Taxes</div></a>
               <div class="popup" data-popup="taxes-popup">
                 <div class="popup-inner">
                    <h2>Taxes</h2>
                    <p>"Some think the Fair-tax is regressive, but in fact it's progressive--taxing the wealthy more than the poor. Fair-tax issues a "prebate" for families to spend on food, clothing, transportation, medical care or whatever they want to spend it on--it's their money. Undocumented immigrants will pay their taxes if they want to buy anything. They need a Social Security card to receive a prebate, so the incentive is for immigrants to get themselves on the books as fast as possible." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Tax_Reform.htm" target="_blank">The Washington Times</a></p>
                    <a class="popup-close t" data-popup-close="taxes-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="healthcare-popup" href="#"><div class='button -border -t center'>Health Care</div></a>
               <div class="popup" data-popup="healthcare-popup">
                 <div class="popup-inner">
                    <h2>Health Care</h2>
                    <p>"Specifically, and this is waving the magic wand, because I recognize that there are three branches of government, I would have the federal government cut Medicare and Medicaid by 43% and block grant the programs [to the states] with no strings. Instead of giving the states one dollar--and it's not really giving because there are strings attached--the federal government needs to give the states 57 cents, take away the strings and give the states carte blanche for how to give health care to the poor. I reformed Medicaid as governor of New Mexico and, in that context, even with strings attached, I believe I could have delivered health care to the poor. I believe I could have done the same thing with Medicare." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Health_Care.htm" target="_blank">Scott Holleran interview</a></p>
                    <a class="popup-close t" data-popup-close="healthcare-popup" href="#">x</a>
                </div>
              </div>
            </div>
            <div class="button-container">
               <a class="btn" data-popup-open="economy-and-jobs-popup" href="#"><div class='button -border -t center'>Economy and Jobs</div></a>
               <div class="popup" data-popup="economy-and-jobs-popup">
                 <div class="popup-inner">
                    <h2>Economy and Jobs</h2>
                    <p>"When I was governor of New Mexico, I had the highest job growth of any of the 50 governors. But I didn't create a single job--businesses did. I just got government out of their way. We have an unprecedented opportunity to use today's crisis to return us to economic growth and prosperity. Never before has the government been such an obstacle to employment. Republicans and Democrats have regulated and taxed our economy to where we're lagging behind Brazil, Russia, China, Israel and India in terms of growth and innovation." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Jobs.htm" target="_blank">The Washington Times</a></p>
                    <a class="popup-close t" data-popup-close="economy-and-jobs-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="civil-liberties-popup" href="#"><div class='button -border -t center'>Civil Liberties</div></a>
               <div class="popup" data-popup="civil-liberties-popup">
                 <div class="popup-inner">
                    <h2>Civil Liberties</h2>
                    <p>"I wouldn't say I oppose gay marriage as a matter of public policy. The government shouldn't be in the marriage business. I would not be opposed to belonging to a church that supports gay marriage." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Civil_Rights.htm" target="_blank">Scott Holleran interview</a></p>
                    <a class="popup-close t" data-popup-close="civil-liberties-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="crime-and-safety-popup" href="#"><div class='button -border -t center'>Crime and Safety</div></a>
               <div class="popup" data-popup="crime-and-safety-popup">
                 <div class="popup-inner">
                    <h2>Crime and Safety</h2>
                    <p>"Half of all crime is drug-related. Half. Half of what we spend--on law enforcement, on the courts, on prisons--is drug-related. If we legalized drugs, we would destroy the environment that allows and even encourages all those crimes." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Crime.htm" target="_blank">Playboy Magazine</a></p>
                    <a class="popup-close t" data-popup-close="crime-and-safety-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="environment-popup" href="#"><div class='button -border -t center'>Environment</div></a>
               <div class="popup" data-popup="environment-popup">
                 <div class="popup-inner">
                    <h2>Environment</h2>
                    <p>"There is no compromise when it comes to clean air, clean land, or clean water. I don't believe in the cap-and-trade legislation. I do not believe that taxing carbon emissions is the way to go forward. I do not believe in, overnight, increasing the cost of energy by what I've heard would be up to 25%." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Environment.htm" target="_blank">The Gary Johnson Initiative</a></p>
                    <a class="popup-close t" data-popup-close="environment-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="education-popup" href="#"><div class='button -border -t center'>Education</div></a>
               <div class="popup" data-popup="education-popup">
                 <div class="popup-inner">
                    <h2>Education</h2>
                    <p>"I believe that we should treat K-12 education more like higher education. The reason higher education in the US is the best in the world is because these institutions compete with each other for tuition dollars. We need that same competition in public education." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Education.htm" target="_blank">Seven Principles</a></p>
                    <a class="popup-close t" data-popup-close="education-popup" href="#">x</a>
                </div>
              </div>
           </div>
           <div class="button-container">
               <a class="btn" data-popup-open="budget-and-spending-popup" href="#"><div class='button -border -t center'>Budget and Spending</div></a>
               <div class="popup" data-popup="budget-and-spending-popup">
                 <div class="popup-inner">
                    <h2>Budget and Spending</h2>
                    <p>If Gary Johnson were president, he would immediately cut all federal spending--entitlements, defense, education, everything--by 43% to rectify our fiscal blunders. And he'd just be getting started. What is [Johnson's] philosophy? In 2 words: limited government.
He suggests that to encourage fiscal discipline, the federal government should pass a law that lays out a process for state bankruptcies--which are impossible under current law and would be hard to square with sovereign immunity--and makes it clear that federal bailouts are off the table. 'Everybody would scream' if a state went into bankruptcy, Johnson admits, but a federal bailout would only encourage profligacy. - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Education.htm" target="_blank">Seven Priciples</a></p>
                    <a class="popup-close t" data-popup-close="budget-and-spending-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="national-security-popup" href="#"><div class='button -border -t center'>National Security</div></a>
               <div class="popup" data-popup="national-security-popup">
                 <div class="popup-inner">
                    <h2>National Security</h2>
                    <p>"We shouldn't have gone into Iraq and Afghanistan. But should we have 100,000 troops on the ground in Europe? Because America has been willing to be the world's policeman, other nations can afford infrastructure projects that the US cannot. That doesn't make sense. The alternative is for the US economy to slide to 3rd-world status. And the danger of a fundamental collapse is real." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Education.htm" target="_blank">Seven Priciples</a></p>
                    <a class="popup-close t" data-popup-close="national-security-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="medicare-and-social-security-popup" href="#"><div class='button -border -t center'>Medicare and Social Security</div></a>
               <div class="popup" data-popup="medicare-and-social-security-popup">
                 <div class="popup-inner">
                    <h2>Medicare and Social Security</h2>
                    <p>"The [Social Security] retirement age needs to be raised. A portion of Social Security ought to be privatized, if not all. And there probably needs to be some means testing. It's a Ponzi scheme that's not sustainable." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Education.htm" target="_blank">Seven Priciples</a></p>
                    <a class="popup-close t" data-popup-close="medicare-and-social-security-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="veterans-popup" href="#"><div class='button -border -t center'>Veterans</div></a>
               <div class="popup" data-popup="veterans-popup">
                 <div class="popup-inner">
                    <h2>Veterans</h2>
                    <p>During an online town hall in November 2011, Johnson said he supported cutting the military budget by 43 percent except for veterans benefits. - Gary Johnson on <a href="https://www.youtube.com/watch?v=Ht4lj5klsc4" target="_blank">YouTube</a></p>
                    <a class="popup-close t" data-popup-close="veterans-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="energy-popup" href="#"><div class='button -border -t center'>Energy</div></a>
               <div class="popup" data-popup="energy-popup">
                 <div class="popup-inner">
                    <h2>Energy</h2>
                    <p>"I accept the fact that there is global warming and I accept the fact that it's man caused. That said, I am opposed to cap and trade. I'm a free market guy when it comes to the clean environment the number-one factor when it comes to the clean environment is a good economy." - Gary Johnson on <a href="http://www.ontheissues.org/2016/Gary_Johnson_Education.htm" target="_blank">Rolling Stone Magazine</a></p>
                    <a class="popup-close t" data-popup-close="energy-popup" href="#">x</a>
                </div>
              </div>
            </div>

          </article>
        </section>
      </li>
      <li>
        <!-- Newsfeed -->
<section class="content">
  <article class="post">
    <div class="container">
      <div class="columns thirds" ng-repeat="feed in feeds">
        <div class="item thirditem" ng-repeat="item in feed.entries">
          <h4><a href="{{item.link}}" target="_blank">{{item.title}}</a> </h4>
          	(<span>{{item.publishedDate}}</span>)
          		<p class="text-left">{{item.contentSnippet}}</p>    <br />
        </div>
      </div>
    </div>
    </article>
    </section>
<!-- END Newsfeed -->
      </li>
    </ul>
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p>Made by <a href="http://JayJones.io">JayJonesDevelopment.</a></p>
    </div>
  </footer>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="../../js/index.js"></script>
  <script src="../../js/garyjohnson.js"></script>
  <script src="../../js/candidate.js"></script>
  <script src="../../js/button.js"></script>



</body>

</html>
