<!DOCTYPE html>
<html ng-app="VoteRight">

<head>
  <meta charset="UTF-8">
  <title>Vote Right - Your Vote Counts</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,300,700|Righteous' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width">
  <meta name="theme-color" content="#0040ff">
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>

<body ng-controller="LoadRSS">
  <header class="header">
    <div class="container">
      <h1 class="site-title"><a href="http://www.VoteRight.co">Vote Right</a></h1>
      <span class="site-tagline">Your vote counts!</span>
    </div>
  </header>
  <nav class="main-nav">
    <div class="container">
      <ul>
        <li class="mobile-button"><a href="#">Menu</a></li>
        <li><a href="http://www.VoteRight.co/Candidates/">Candidates</a></li>
        <li><a href="http://www.VoteRight.co/Resources/">Resources</a></li>
        <li><a href="http://www.VoteRight.co/Contact/">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" style="background:#ffffff">
    <div class="row-fluid">
      <div class="col-md-8">

        <div>
          <h1>Bernie Sanders</h1>
          <img src="../../assets/Democratic/Sanders/profile.jpg" class="profile-img img-rounded">
          <p align="left" class="profile"><b>Main Website:</b> <a href="https://berniesanders.com/" target="_blank" style="color: #0040ff">berniesanders.com</a></p>
          <p align="left" class="profile"><b>Political Office Website:</b> <a href="http://www.sanders.senate.gov/" target="_blank" style="color: #0040ff">sanders.senate.gov</a></p>
          <p align="left" class="profile"><b>Facebook Page:</b> <a href="https://www.facebook.com/senatorsanders" target="_blank" style="color: #0040ff">senatorsanders</a></p>
          <p align="left" class="profile"><b>Main Issues:</b></p>
          <ul align="left" class="bullets">
            <li>Income and Wealth Inequality</li>
            <li>Student Loans</li>
            <li>Racial Justice</li>
          </ul>
          <p align="left" class="profile"><i>Bernie Sanders first rose to elective office in 1981 and holds an elected position to this day.
          Sanders has served as an elected official for a total of 34 years and counting, which is 19 more than the average 2016 presidential candidate.</i></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div>
            <img src="../../assets/Democratic/Sanders/logo.png" align="right" class="camp-img" style="padding-top: 10%;" />
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
  <div class="full-bleed" style="background-image: url(../../assets/Democratic/Sanders/banner.jpg);"></div>
  <!-- <hr> -->
    <!-- Newsfeed and Info Tabs -->
  <section class="wrapper">
    <ul class="tabs d">
      <li class="active">Issues</li>
      <li>Newsfeed</li>
    </ul>

    <ul class="tab__content d">
      <li class="active">
        <section class="content">
          <article class="post">
            <div class="button-container">
               <a class="btn" data-popup-open="abortion-popup" href="#"><div class='button -border -d center'>Abortion</div></a>
               <div class="popup" data-popup="abortion-popup">
                 <div class="popup-inner">
                    <h2>Abortion</h2>
                    <p>"The decision about abortion is a decision for a woman and her doctor to make, not the government. I will not allow the right wing to deny women control over their own bodies by forcing clinics to close, extending waiting periods, or inventing other methods that create de facto abortion bans. Roe v. Wade is the law of the land and must remain so.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="abortion-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="immigration-popup" href="#"><div class='button -border -d center'>Immigration</div></a>
               <div class="popup" data-popup="immigration-popup">
                 <div class="popup-inner">
                    <h2>Immigration</h2>
                    <p>"As president, I will fight for comprehensive immigration reform that provides a roadmap to citizenship for the 11 million aspiring Americans living in this country. But I will not wait for Congress to act. I will take executive action to accomplish what Congress has failed to do and build upon President Obama’s executive orders to unite families.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="immigration-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="guns-popup" href="#"><div class='button -border -d center'>Guns</div></a>
               <div class="popup" data-popup="guns-popup">
                 <div class="popup-inner">
                    <h2>Guns</h2>
                    <p>"I will take the following concrete steps to reduce gun violence: strengthen and better enforce the instant background check system; close the gun-show loophole; make 'straw man' purchases a federal crime; ban semi-automatic assault weapons which are designed strictly for killing human beings; and work to fix our broken mental health system.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="guns-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="foreign-policy-popup" href="#"><div class='button -border -d center'>Foreign Policy</div></a>
               <div class="popup" data-popup="foreign-policy-popup">
                 <div class="popup-inner">
                    <h2>Foreign Policy</h2>
                    <p>"The test of a great and powerful nation is not how many wars it can engage in, but how it can resolve international conflicts in a peaceful manner. I will move away from a policy of unilateral military action and regime change, and toward a policy of emphasizing diplomacy, and ensuring the decision to go to war is a last resort.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="foreign-policy-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="taxes-popup" href="#"><div class='button -border -d center'>Taxes</div></a>
               <div class="popup" data-popup="taxes-popup">
                 <div class="popup-inner">
                    <h2>Taxes</h2>
                    <p>"The wealthy and large corporations must pay their fair share. As president, I will stop corporations from shifting profits and jobs overseas to avoid paying taxes. I will tax Wall St. speculators who caused millions their jobs, homes, and life savings. I will tell the billionaire class: You can’t have it all while kids in this country go hungry.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="taxes-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="healthcare-popup" href="#"><div class='button -border -d center'>Healthcare</div></a>
               <div class="popup" data-popup="healthcare-popup">
                 <div class="popup-inner">
                    <h2>Health care</h2>
                    <p>"My view is simple: health care is a right, not a privilege. We spend far more than any other country on health care, but 29 million Americans remain uninsured and millions more are under-insured. That is unacceptable. The time has come for a Medicare-for-all universal health care system that provides every American with affordable, quality care.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="healthcare-popup" href="#">x</a>
                </div>
              </div>
            </div>
            <div class="button-container">
               <a class="btn" data-popup-open="economy-and-jobs-popup" href="#"><div class='button -border -d center'>Economy and Jobs</div></a>
               <div class="popup" data-popup="economy-and-jobs-popup">
                 <div class="popup-inner">
                    <h2>Economy and Jobs</h2>
                    <p>"As President, I will invest $1 trillion to rebuild our crumbling infrastructure to put 13 million Americans to work in good jobs, invest $5.5 billion to employ 1 million young Americans and provide job-training to hundreds of thousands of others, and create a Clean-Energy Workforce of 10 million good jobs through a 100% clean energy system.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="economy-and-jobs-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="civil-liberties-popup" href="#"><div class='button -border -d center'>Civil Liberties</div></a>
               <div class="popup" data-popup="civil-liberties-popup">
                 <div class="popup-inner">
                    <h2>Civil Liberties</h2>
                    <p>"I voted against the USA PATRIOT Act and against its subsequent reauthorizations. Terrorism is a serious threat and we must do everything we can to prevent attacks in this world, but I believe that we can do that without undermining our constitutional rights. Our civil liberties and right to privacy shouldn’t be the price we pay for security.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="civil-liberties-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="crime-and-safety-popup" href="#"><div class='button -border -d center'>Crime and Safety</div></a>
               <div class="popup" data-popup="crime-and-safety-popup">
                 <div class="popup-inner">
                    <h2>Crime and Safety</h2>
                    <p>"Our criminal justice system is broken. We must invest in jobs and education not in more jails, ban for-profit prisons, end the failed “War on Drugs”; eliminate mandatory minimums, make sure people with substance abuse problems end up in treatment instead of prison, and demilitarize police forces so that they don’t look and act like invading armies.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="crime-and-safety-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="environment-popup" href="#"><div class='button -border -d center'>Environment</div></a>
               <div class="popup" data-popup="environment-popup">
                 <div class="popup-inner">
                    <h2>Environment</h2>
                    <p>"Climate change is the greatest threat facing our planet. We must act boldly. I will cut U.S. carbon pollution by 80% by putting a tax on carbon pollution, repealing fossil fuel subsidies and make massive investments in energy efficiency and clean, sustainable energy such as wind and solar power creating a 100% clean energy system.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="environment-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="environment-popup" href="#"><div class='button -border -d center'>Education</div></a>
               <div class="popup" data-popup="education-popup">
                 <div class="popup-inner">
                    <h2>Education</h2>
                    <p>"As President, I will: make tuition free at public colleges and universities, lower student loan interest rates for current and future borrowers, ensure all children have access to a quality education by fighting to ensure equal access to educational resources, and make childcare and pre-K universal and affordable.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="education-popup" href="#">x</a>
                </div>
              </div>
           </div>
           <div class="button-container">
               <a class="btn" data-popup-open="budget-and-spending-popup" href="#"><div class='button -border -d center'>Budget and Spending</div></a>
               <div class="popup" data-popup="budget-and-spending-popup">
                 <div class="popup-inner">
                    <h2>Budget and Spending</h2>
                    <p>"At a time when the rich are getting richer, poverty is increasing, and the middle class is in a 40-year decline, we need a budget that improves the lives of all Americans, not just the people on top. We need to reverse the massive transfer of wealth from working families to the top 1 percent and put millions of Americans back to work.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="budget-and-spending-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="national-security-popup" href="#"><div class='button -border -d center'>National Security</div></a>
               <div class="popup" data-popup="national-security-popup">
                 <div class="popup-inner">
                    <h2>National Security</h2>
                    <p>"I will protect America, defend our interests and values, embrace our commitments to defend freedom and human rights, and relentlessly combat terrorism. Our intelligence and law enforcement agencies must have the tools needed to protect us, but there must be legal oversight and it must be done in a way that does not sacrifice our basic freedoms.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="national-security-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="medicare-and-social-security-popup" href="#"><div class='button -border -d center'>Medicare and Social Security</div></a>
               <div class="popup" data-popup="medicare-and-social-security-popup">
                 <div class="popup-inner">
                    <h2>Medicare and Social Security</h2>
                    <p>"Social Security is crucial for Americans to be able to retire with dignity. We must expand Social Security by having the rich pay their fair share. And we must lower skyrocketing prescription drug costs by allowing less expensive medicine to be imported from Canada and by directing Medicare to negotiate prices. Seniors deserve a secure retirement.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="medicare-and-social-security-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="veterans-popup" href="#"><div class='button -border -d center'>Veterans</div></a>
               <div class="popup" data-popup="veterans-popup">
                 <div class="popup-inner">
                    <h2>Veterans</h2>
                    <p>"Just as weapons are a cost of war, so is taking care of the people we sent to fight. Veterans must receive the health care and benefits they have earned. Veterans must have timely access to care, and deserve access to dental and long-term care. We must end vets’ homelessness and fix the VA’s disability claims process.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="veterans-popup" href="#">x</a>
                </div>
              </div>
               <a class="btn" data-popup-open="energy-popup" href="#"><div class='button -border -d center'>Energy</div></a>
               <div class="popup" data-popup="energy-popup">
                 <div class="popup-inner">
                    <h2>Energy</h2>
                    <p>"I will work toward a 100% clean energy system and create millions of jobs. We have little time to aggressively cut carbon emissions. Transitioning to a 100% clean energy system for electricity, heating, and transportation is possible and affordable. It will create millions of jobs, clean up our air and water and decrease dependence on foreign oil.
" - Bernie Sanders on Google</p>
                    <a class="popup-close d" data-popup-close="energy-popup" href="#">x</a>
                </div>
              </div>
            </div>

          </article>
        </section>
      </li>
      <li>
        <!-- Newsfeed -->
<section class="content">
  <article class="post">
    <div class="container">
      <div class="columns thirds" ng-repeat="feed in feeds">
        <div class="item demitem" ng-repeat="item in feed.entries">
          <h4><a href="{{item.link}}" target="_blank">{{item.title}}</a> </h4>
          	(<span>{{item.publishedDate}}</span>)
          		<p class="text-left">{{item.contentSnippet}}</p>    <br />
        </div>
      </div>
    </div>
    </article>
    </section>
<!-- END Newsfeed -->
      </li>
    </ul>
  </section>
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <p>Made by <a href="http://JayJones.io">JayJonesDevelopment.</a></p>
    </div>
  </footer>
  <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="../../js/index.js"></script>
  <script src="../../js/berniesanders.js"></script>
  <script src="../../js/candidate.js"></script>
  <script src="../../js/button.js"></script>




</body>

</html>
